section.wn__product__area.brown--color.pt--80.pb--30
  .container
    .row
      .col-lg-12
        .section__title.text-center
          h2.title__be--2 Our 
            span.color--theme Store
          p Check out our online store to find books



    .furniture--4.border--round.arrows_style.owl-carousel.owl-theme.mt--50

      .product.product__style--3
        .product__thumb
          a.first__img(href='single-product.html')
            img(src='images/books/1.png' alt='product image')
              
          a.second__img.animation1(href='single-product.html')
            img(src='images/books/1_1.png' alt='product image')
          .hot__box
            span.hot-label New Book
        .product__content.content--center
          h4: a(href='single-product.html') Be Safe
          ul.prize.d-flex
            li N500.00
            li.old_prize N1000.00
            
          .action
            .actions_inner
              ul.add_to_links
                li: a.cart(href='checkout')
                  i.fas.fa-shopping-cart
                li: a.wishlist(href='wishlist.html')
                  i.fas.fa-file-pdf

          .product__hover--content
            ul.rating.d-flex
              li.on
                i.fa.fa-star-o
              li.on
                i.fa.fa-star-o
              li.on
                i.fa.fa-star-o
              li: i.fa.fa-star-o
              li: i.fa.fa-star-o
