section.wn__recent__post.style-two.ptb--80
  .container
    .row
      .col-lg-12
        .section__title.text-center
          h2.title__be--2 Our
            span.color--theme  Blog
          p Check out our blogs and make contributions.
        
    .row.mt--50
      .col-md-6.col-lg-4.col-sm-12
        .post__itam
          .content
            h3: a(href='blog-details.html') Blog 1: Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate enim ipsum, cum omnis labore beatae? Iure explicabo vero corporis eveniet reiciendis, ratione perspiciatis autem, qui ad cum natus accusamus minima.
            .post__time
              span.day Jun 06, 2020
              .post-meta
                ul
                  li: a(href='#')
                    i.bi.bi-love 72  
                  li: a(href='#')
                    i.bi.bi-chat-bubble 27 


      .col-md-6.col-lg-4.col-sm-12
        .post__itam
          .content
            h3: a(href='blog-details.html') Blog 1: Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate enim ipsum, cum omnis labore beatae? Iure explicabo vero corporis eveniet reiciendis, ratione perspiciatis autem, qui ad cum natus accusamus minima.
            .post__time
              span.day Jun 06, 2020
              .post-meta
                ul
                  li: a(href='#')
                    i.bi.bi-love 72  
                  li: a(href='#')
                    i.bi.bi-chat-bubble 27 


      .col-md-6.col-lg-4.col-sm-12
        .post__itam
          .content
            h3: a(href='blog-details.html') Blog 1: Lorem ipsum dolor sit amet.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate enim ipsum, cum omnis labore beatae? Iure explicabo vero corporis eveniet reiciendis, ratione perspiciatis autem, qui ad cum natus accusamus minima.
            .post__time
              span.day Jun 06, 2020
              .post-meta
                ul
                  li: a(href='#')
                    i.bi.bi-love 72  
                  li: a(href='#')
                    i.bi.bi-chat-bubble 27 

