footer#wn__footer.footer__area.bg__cat--8.brown--color
  .footer-static-top
    .container
      .row
        .col-lg-12
          .ooter__widget.footer__menu
            .ft__logo
              a(href='/'): img(src='/images/logo/3.png' alt='logo')
              p Lily4Kids Series provides lots of fun and much more

            .footer__content
              ul.social__net.social__net--2.d-flex.justify-content-center
                li: a(href='#')
                  i.bi.bi-facebook
                li: a(href='#')
                  i.bi.bi-google
                li: a(href='#')
                  i.bi.bi-twitter
                li: a(href='#')
                  i.bi.bi-linkedin

              ul.mainmenu.d-flex.justify-content-center
                li: a(href='/') Home
                li: a(href='blog') Blog
                li: a(href='shop') Shop
                li: a(href='about') About
                li: a(href='contact') Contact

  .copyright__wrapper
    .container
      .row
        .col-lg-6.col-md-6.col-sm-12
          .copyright
            .copy__right__inner.text-left
              p Copyright  
                i.fa.fa-copyright
                  a(href='#') Lilian Writes. All Rights Reserved