section.wn__newsletter__area.bg-image--2
  .container
    .row
      .col-lg-7.offset-lg-5.col-md-12.col-12.ptb--150
        .section__title.text-center
          h2 Stay With Us

        .newsletter__block.text-center
          p Subscribe to our newsletters now and stay up-to-date with new collections, the latest books and exclusive offers.
          form.subscribe
            .newsletter__box
              input#subscribe-email(type='email' placeholder='Enter your e-mail')
              button Subscribe
