.slider-area.brown__nav.slider--15.slide__activation.slide__arrow01.owl-carousel.owl-theme
  .slide.animation__style10.bg-image--8.fullscreen.align__center--left
    .container
      .row
        .col-lg-12
          .slider__content
            .contentbox
              h3 Lilian Writes
              h2 BE 
                span SAFE

              p Diseases pose a morbid threat to our general welfare and existence. Everyone, children too, should be armed with the right information that helps to keep diseases away. Be Safe is a sci-fi book that captivates our children while promptly educating arming them defensively against diseases.
              a.shopbtn(href='shop') shop now
  .slide.animation__style10.bg-image--9.fullscreen.align__center--left
    .container
      .row
        .col-lg-12
          .slider__content
            .contentbox
              h3 Lilian Writes
              h2 An Unbeatable 
                span Resource
              h2.another Centre for Good 
                span Literature.

                   

              p Lily4kids series is an online bookshop where you can buy books as well as read exciting novels.
              a.shopbtn(href='shop') shop now

