extends base

block content
  .ht__bradcaump__area.bg-image--6
      .container
        .row
          .col-lg-12
            .bradcaump__inner.text-center
              h2.bradcaump-title About
              nav.bradcaump-content
                a.breadcrumb_item(href='/') Home 
                span.brd-separetor /
                span.breadcrumb_item.active About Me
  .page-about.about_area.bg--white.section-padding--lg
    .container
      .row
        .col-lg-12
          .section__title--3.text-center.pb--30
            h2 ABOUT ME

      .row.align-items-center
        .col-lg-4.col-sm-6.col-12

          img(src="images/about/team/1.jpg" alt="Team images")
        .col-lg-6.col-sm-12.col-12
          .content
            p.mt--20.mb--20 Lilian U. Ibenezim-Onyeama, is a public servant who believe everything should be done in service to humanity, storytelling too! She sees stories, in everything and believes they should entertain and inform all at once. She authored seven young readers’ titles in 2009 under Lilykids Funlearners and currently serves the public through the Nigeria Police Force and opines that indeed, the Police is your friend. Lilian lives with her husband and children and continues to write whatever story life tells her.
            strong Email:
            p lily4kids@gmail.com
